@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  background-color: #010409;
  background-size: 10px;
  @apply font-mono text-white;
}
.active {
  color: #f16056;
}

.dialogue {
  /* @apply max-w-[600px] w-fit min-w-40 shadow-md ml-auto mr-10 relative  px-2 rounded my-5 ; */
}

.animate-levitate {
  animation: levitate linear infinite 1.5s;
}

@keyframes levitate {
  50% {
    translate: 0 -10px;
    scale: 110%;
  }
}
